
.OutlookBar {
    /*OutlookBar背景色设置*/
    --OutlookBar-backgroundColor:#cbcbcb;
    /*OutlookBar头部区域背景色设置*/
    --OutlookBar_Header-backgroundColor: #2b68dc;
    /*OutlookBar头部区域字体颜色设置*/
    --OutlookBar_HeaderText-color:#f9f9f9;

    /*OutlookBar控制区域设置*/
    --OutlookBar_Control-fontSize:14px;
    --OutlookBar_Control-backgroundColor:#00c167;

    /*OutlookBar 菜单区域设置*/
    --OutlookBar_Body-backgroundColor:#00c167;

    /*OutlookBar 一级菜单样式设置*/
    --OutlookBarItemBar-backgroundColor:#00c167;
    --OutlookBarItemBar-hover-backgroundColor:#cbcbcb;
    --OutlookBarItemBar-color:#f9f9f9;
    --OutlookBarItemBar-fontSize:14px;

    /*OutlookBar1 二级菜单样式设置*/
    --OutlookBarItem1Bar-backgroundColor:#70cb98;
    --OutlookBarItem1Bar-color:#393939;
    --OutlookBarItem1Bar-fontSize:12px;

}

.OutlookBar {
    background-color: var(--OutlookBar-backgroundColor);
    height: 100%;
    width: 100%;
    /*border: 1px solid blue;*/
    position: relative;
    /*overflow: hidden;*/
}

.OutlookBar .OutlookBar_Header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: absolute;
    overflow: hidden;
    right: 0px;
    left: 0px;
    top: 0px;
    background-color: var(--OutlookBar_Header-backgroundColor);
    height: 44px;
}

.OutlookBar .OutlookBar_HeaderText {
    font-size: 16px;
    margin-left: 14px;
    display: inline-block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    color: var(--OutlookBar_HeaderText-color);
}

.OutlookBar .OutlookBar_HeaderImage {
    max-height: 40px;
    max-width: 40px;
    margin-left: 16px;
}

.OutlookBar .OutlookBar_Control {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: absolute;
    right: 1px;
    left: 1px;
    bottom: 1px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;

    font-size: var(--OutlookBar_Control-fontSize);
    background-color: var(--OutlookBar_Control-backgroundColor);
}

.OutlookBar .OutlookBar_ControlImage {
    cursor: pointer;
    max-height: 26px;
    display: inline-block;

}

.OutlookBar .OutlookBar_Body {
    overflow: auto;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 44px;
    bottom: 35px;
    background-color: var(--OutlookBar_Body-backgroundColor);
}

.OutlookBarItem .OutlookBarItemBar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    height: 40px;

    background-color: var(--OutlookBarItemBar-backgroundColor);
    color: var(--OutlookBarItemBar-color);
    font-size: var(--OutlookBarItemBar-fontSize);
}

.OutlookBarItem .OutlookBarItemBar:hover{
    background-color: var(--OutlookBarItemBar-hover-backgroundColor);
}

.OutlookBarItem .OutlookBarItemBar .OutlookBarItemECImage {
     min-width: 20px;
     min-height: 20px;
     max-width: 35px;
     max-height: 35px;
 }

.OutlookBarItem .OutlookBarItemBar .OutlookBarItemImage {
    max-height: 35px;
    max-width: 35px;
}

.OutlookBarItem .OutlookBarItemBar .OutlookBarItemText {
    margin-left: 10px;
}

.OutlookBarItem1 .OutlookBarItemBar {
    height: 35px;
    background-color: var(--OutlookBarItem1Bar-backgroundColor);
    color: var(--OutlookBarItem1Bar-color);
    font-size: var(--OutlookBarItem1Bar-fontSize);
}

.OutlookBarItem1 .OutlookBarItemBar .OutlookBarItemECImage {
    min-width: 15px;
    min-height: 15px;
    max-width: 30px;
    max-height: 30px;
}

.OutlookBarItem1 .OutlookBarItemBar .OutlookBarItemImage {
    max-height: 30px;
    max-width: 30px;
}

.OutlookBarItem2 .OutlookBarItemBar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    height: 30px;
}





